@import "../../../public/assets/scss/variables";

.column {
    padding-top: calc($header-height + 56px);
    .recommended-list{
        margin-bottom: 56px;
    }
    .post-list{
        margin-bottom: 26px;
    }
}